.contacto{
    padding-top: 10vh;
  width: 100%;
  height: 100vh;
  
}
.con-grid-container {
    width: 100%;
  height: 100%;
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    grid-template-rows: 1fr;
   grid-template-areas: "con-con-text con-con-map"
  }
  
  .con-con-text { grid-area: con-con-text; }
  
  .con-con-map {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1.6fr;
   grid-template-areas: "con-con-map-dir" "con-con-map-map";
    grid-area: con-con-map;
  }
  
  .con-con-map-dir { grid-area: con-con-map-dir; }
  
  .con-con-map-map { grid-area: con-con-map-map; }
  .con-con-map-map img{
      max-width: 100%;
  }